$color-header-link: #272c34;
$bgc-header-link: #206a97;
$bgc-hover-header-link: #d2691e;
$bgc-link-before: #6a5acd;
$color-on-state-staige: #db950c;
$color-title-table: #d2691e;
$color-border: #00bfff;
$color-hover-link: #dc143c;
$bgc-modal: #ffffff;
$color-link: #20b2aa;
