<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comands GitHub</title>
    <link rel="stylesheet" href="../sass/index.scss" />
  </head>
  <body>
    <section class="hero">
      <div class="container">
        <a href="../index.html" class="navigation__link navigation__link--scale"
          >Home</a
        >
        <ul class="hero-header__list" id="hero-list"></ul>
      </div>
    </section>
    <script src="../js/comands-github.js" type="module"></script>
  </body>
</html>
