<button
  type="button"
  class="menu-toggle js-open-menu"
  aria-expanded="false"
  aria-controls="mobile-menu"
>
  <svg width="24" height="16" class="menu-toggle__svg">
    <use xlink:href="../src/images/price.svg#icon-mobil-menu"></use>
  </svg>
</button>

<!-- Mobil move menu -->
<div class="conteiner-menu js-menu-container" id="mobile-menu">
  <button type="button" class="menu-toggle js-close-menu">
    <svg width="19" height="19" class="menu-toggle__svg">
      <use xlink:href="../src/images/price.svg#icon-mobil-menu-close"></use>
    </svg>
  </button>

  <nav class="navigation-mobile">
    <ul class="navigation-mobile__list">
      <li class="navigation-mobile__item">
        <a href="./partials/html&scc.html" class="navigation-mobile__link"
          >Матеріал HTML & CSS</a
        >
      </li>

      <li class="navigation-mobile__item">
        <a href="./partials/my-projects.html" class="navigation-mobile__link"
          >Мої проекти</a
        >
      </li>

      <li class="navigation-mobile__item">
        <a href="./partials/javascript.html" class="navigation-mobile__link"
          >Матеріал JavaScript</a
        >
      </li>

      <li class="navigation-mobile__item">
        <a href="./partials/code-pen.html" class="navigation-mobile__link"
          >Code Pen</a
        >
      </li>

      <li class="navigation-mobile__item">
        <a
          href="./partials/instructions-video-HTML.html"
          class="navigation-mobile__link"
          >Instructional Video HTML & CSS</a
        >
      </li>

      <li class="navigation-mobile__item">
        <a
          href="./partials/instructions-video-JS.html"
          class="navigation-mobile__link"
          >Instructional Video JS</a
        >
      </li>

      <li class="navigation-mobile__item">
        <a href="./partials/comands-github.html" class="navigation-mobile__link"
          >Comands GITHUB terminal</a
        >
      </li>
    </ul>
  </nav>
</div>
